.photo-container {
  position: relative;
  width: 100vw;
  height: 200vh; /* 스크롤을 위한 높이 */
  background: linear-gradient(to bottom, #111, #333); /* 배경 색상 */
  overflow: hidden;
}

#moving-photo1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px; /* 초기 사진 크기 */
  transition: transform 0.1s; /* 부드러운 이동 효과 */
}
#moving-photo2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px; /* 초기 사진 크기 */
  transition: transform 0.1s; /* 부드러운 이동 효과 */
}
